<div class="panel panel-danger">
    <div class="panel-heading">Mean Stack</div>
    <div class="panel-body">
        <h5>Consists of:</h5>
        <ul style="list-style-type:none">
            <li>MongoDB - (no SQL)</li>
            <li>Express.js - Web App Framework</li>
            <li>Angular.js - MVC Framework</li>
            <li>Node.js - Event Driven / Server Side Environment</li>
        </ul>
        <p>All of these use JavaScript.</p>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">Variants</div>
    <div class="panel-body">
        <ul style="list-style-type:none">
            <li>MEEN (Ember.js)</li>
        </ul>
    </div>
</div>
