 <!-- Selection Area -->
<div class="col-lg-4 col-xs-12 ">
    <div class="panel panel-success">
        <div class="panel-heading">SOLID Priniciples</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li><a href="#" class="submitClick" data-submit-action="SRP">S - Single Responsibility Principle</a></li>
                <li><a href="#" class="submitClick" data-submit-action="OCP">O - Open / Closed Principle</a></li>
                <li><a href="#" class="submitClick" data-submit-action="LSP">L - Liskov Substitution Priniciple </a></li>
                <li><a href="#" class="submitClick" data-submit-action="ISP">I - Interface Segregation Principle</a></li>
                <li><a href="#" class="submitClick" data-submit-action="DIP">D - Dependency Inversion Principle</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Object Oriented Programming</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li><a href="#" class="submitClick" data-submit-action="Polymorphism">Polymorphism</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Inheritance">Inheritance</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Encapsulation">Encapsulation</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Abstraction">Abstraction</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Dependency Injection</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li><a href="#" class="submitClick" data-submit-action="Constructor">Constructor Injection</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Property">Property Injection</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Method">Method Injection</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Service">Service Locator</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Testing</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li><a href="#" class="submitClick" data-submit-action="TDD">Test Driven Development</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Mocking">Mocking</a></li>
                <li><a href="#" class="submitClick" data-submit-action="UnitTest">Unit Testing</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Validation">Validation</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Delegates and Events</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li><a href="#" class="submitClick" data-submit-action="CustomDelegate">Custom Delegate (Basics)</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Delegate_Dynamic">Custom Delegate - Dynamic Call</a></li>
                <li><a href="#" class="submitClick" data-submit-action="Events">Custom Event (Basics)</a></li>
                <li><a href="#" class="submitClick" data-submit-action="EventArgs">Event Arguments</a></li>
                <li><a href="#" class="submitClick" data-submit-action="EventHandler">Event Handlers</a></li>
            </ul>
        </div>
    </div>
</div>
       

<!--Display Area -->
<div class="col-lg-8 col-xs-12" id="currPartial">


    <!-- /Display Area -->
</div>
