 <!-- Selection Area -->
<div class="col-lg-4 col-xs-12 ">
    <div class="panel panel-success">
        <div class="panel-heading">SOLID Priniciples</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li>S - Single Responsibility Principle</li>
                <li>O - Open / Closed Principle</li>
                <li>L - Liskov Substitution Priniciple</li>
                <li>I - Interface Segregation Principle</li>
                <li>D - Dependency Inversion Principle</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Object Oriented Programming</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li>Polymorphism</li>
                <li>Inheritance</li>
                <li>Encapsulation</li>
                <li>Abstraction</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Dependency Injection</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li>Constructor Injection</li>
                <li>Property Injection</li>
                <li>Method Injection</li>
                <li>Service Locator</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Testing</div>
        <div class="panel-body">
            <ul style="list-style-type:none">
                <li>Test Driven Development</li>
                <li>Mocking</li>
                <li>Unit Testing</li>
                <li>Validation</li>
            </ul>
        </div>
    </div>
    <!-- /Selection Area -->
</div>

<!--Display Area -->
<div class="col-lg-8 col-xs-12">

    <!--Discussion and Notes-->
    <div class="panel panel-success">
        <div class="panel-heading">Discussion</div>
        <div class="panel-body"></div>
    </div>
    <!-- /Discussion and Notes-->
    <!-- Sample Code -->
    <div class="panel panel-success">
        <div class="panel-heading">Sample - </div>
        <div class="panel-body"></div>
    </div>
    <!-- /Sample Code -->
    <!-- /Display Area -->
</div>