<!--Discussion and Notes-->
<div class="panel panel-success">
    <div class="panel-heading">Discussion - Encapsulation</div>
    <div class="panel-body">
        <h5>
            Encapsulation is not only the ability to contain things in classes / objects <br />
            but also the ability to control access to the constituent parts.
        </h5>
        <p><i>an object's ability to hide data and behavior that are not necessary to its user. Encapsulation enables a group of properties, methods and other members to be considered a single unit or object.</i></p>
    </div>
</div>
<!-- /Discussion and Notes-->
<!-- Sample Code -->
<div class="panel panel-success">
    <div class="panel-heading">Access Modifiers</div>
    <div class="panel-body">
        <ul style="list-style-type:none">
            <li>Public: Access to all code in the program</li>
            <li>Private: Access to only members of the same class</li>
            <li>Protected: Access to members of same class and its derived classes</li>
            <li>Internal: Access to current assembly</li>
            <li>Protected Internal: Access to current assembly and types derived from containing class</li>
        </ul>
    </div>
</div>
<!-- /Sample Code -->
