<!--Discussion and Notes-->
<div class="panel panel-success">
    <div class="panel-heading">Discussion</div>
    <div class="panel-body"></div>
</div>
<!-- /Discussion and Notes-->
<!-- Sample Code -->
<div class="panel panel-success">
    <div class="panel-heading">Sample - Test1</div>
    <div class="panel-body"></div>
</div>
<!-- /Sample Code -->
